<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
	</configSections>
	<modules>		
		<module assemblyFile="DocumentsModule.dll"
            moduleType="DocumentsModule.Modules.DocumentsWorkSpaceModule, DocumentsModule"
            moduleName="DocumentsWorkSpaceModule"/>
		<module assemblyFile="StartPageModule.dll"
            moduleType="StartPageModule.Modules.StartPageModule, StartPageModule"
            moduleName="StartPageModule"/>
		
	</modules>
</configuration>